body {
  
  background-image: url(../Pages/assests/backgroundImage.jpg);

}

.language-bar {
  display: flex;
  flex-direction: column;
}

.language {
  background-color: #051632ad;
  color: #ffffff;
  padding: 10px;
  margin-right: 10px;
  text-align: right;
}

.language span:first-child {
  float: left;
}

.language span:last-child {
  float: right;
}


.ContactStyle {
  padding: 15px;
  margin-bottom: 0;
  border: 0px;
  
  color: aliceblue;
}


/* Styles for the about-me header */
.about-me {
  
  display: inline-block;

}

/* Hidden text initially hidden */
.hidden-text {
  display: none;
  position: relative;
  top: auto;
  left: 0;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
}

/* Show hidden text on hover */
.about-me:hover .hidden-text {
  display: block;
  margin-top: auto;
}


.profile-card {
  background-color: #051632ad;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 12px rgb(32 29 29 / 10%);
  max-width: 704px;
  margin: 0 auto;
  position: inherit;
  margin-top: 50px;
}

.profile-image {
  
  right: auto;
  width: 243px;
  height: -webkit-fill-available;
  /* max-width: 200px; */
  /* border-image-width: auto; */
  border-top-left-radius: 0px;
  display: inline-block;
  border-bottom-left-radius: 0px;
  overflow: hidden;
  text-align: left;
}




.headerboarder {
  border: 2px solid #000000;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0bx;
  background-color: #1c8179bb;
  border-style: ridge;
  display: flex;
  border-width: 5px;
  flex-direction: row;
  position: inherit;


}

.profile-card h1,
.profile-card h2,
.profile-card h3 {
  color: #000000;
  border: 2px solid black;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 5px;
  background-color: #2ccfb2c9;
  border-style: ridge;
  border-width: 5px;
  position: inherits;
  ;
}

a {
  font-size: 14px;
}

.profile-card h1 {
  font-size: 30px;
  margin-top: 0px;

}

.profile-card h6 {
  color: #000000;
  
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px;
  font-size: 30px;
  border-style: ridge;
  border-width: 5px;
  font-family: initial;
  margin: 0px;
}

.profile-card h2 {
  font-size: 24px;
  margin-top: 0px;

}

.profile-card h4 {
  font-size: 24px;
  margin-top: 0px;
}

.profile-card h5 {
  font-size: 24px;
  margin-top: 0px;
}

.profile-card h3 {
  font-size: 20px;
  margin-top: 10px;
}

.profile-card p {
  margin-bottom: 10px;
  margin-top: 54px
}

.profile-card ul {
  color: #ffffff;
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile-card ul li {
  margin-bottom: 5px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  /* Align content to the right */
}

.profile-card ul li:hover {
  color: #000000;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border-style: ridge;
  border-width: 5px;
}

.profile-card .special-ul:hover::after {

  border-style: none;

  background: none;


}

.profile-card .special-ul2 {

  border-style: none;

  background: none;


}

.profile-card ul li:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/lau.jpg') no-repeat center center/cover;
  border-style: ridge;
  border-width: 5px;
  border-color:#000000#333;
}

/* Define similar hover effects and images for other list items (li) */
.profile-card ul li.image2:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/java.jpg') no-repeat center center/cover;
}

.ul-hover:hover::after {
  content: '';
  width: 20px;
  height: 20px;
}

.profile-card ul li.image3:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/c++.jpg') no-repeat center center/cover;
}

.profile-card ul li.image4:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/Python_logo_icon.png') no-repeat center center/cover;
}

.profile-card ul li.image5:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/c logo.jpg') no-repeat center center/cover;
}

.profile-card ul li.image6:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/c-sharp-800x800.png') no-repeat center center/cover;
}

.profile-card ul li.image7:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/gymnastic.jpg') no-repeat center center/cover;
}

.profile-card ul li.image8:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/swimminh.jpg') no-repeat center center/cover;
}

.profile-card ul li.image9:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/photography.jpg') no-repeat center center/cover;
}

.profile-card ul li.image10:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/apple-music-logo-circle-png-28.png') no-repeat center center/cover;
}

.profile-card ul li.image11:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/drawing.png') no-repeat center center/cover;
}

.profile-card ul li.image12:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/unity-logo-3d-5.png') no-repeat center center/cover;
}

.profile-card ul li.image13:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/134-1340346_transparent-unreal-logo-png-unreal-engine-icon-png.png') no-repeat center center/cover;
}

.profile-card ul li.image14:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/Adobe_Photoshop_CS6_icon.svg.png') no-repeat center center/cover;
}

.profile-card ul li.image15:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/microsoft-word-2013-logo-logo-png-transparent.png') no-repeat center center/cover;
}

.profile-card ul li.image16:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/kali.jpg') no-repeat center center/cover;
}

.profile-card ul li.image17:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/lcpc.jpg') no-repeat center center/cover;
}

.profile-card ul li.image18:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/google-logo-png-open-2000.png') no-repeat center center/cover;
}

.profile-card ul li.image19:hover::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../Pages/assests/google-logo-png-open-2000.png') no-repeat center center/cover;
}